# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# vim file
*.swp
*.swo
*.swn
*.swm
*.swl

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
!**/gradle/wrapper/gradle-wrapper.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE setting files
**/.vscode/**
!**/.vscode/*.code-workspace
.idea/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Discord Bot Token Information
discordbot/src/main/resources/token.txt

# db file
*.sqlite
